
<style>
    .size-container {
        padding: 15px;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
</style>

<div class="size-container">
    <h3 style="text-align: center;">此商品暂无规格信息，请联系店主</h3>
</div>