@using OnlineShopSystem.UI.Util

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线商城网站后台管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <h1>管理员导航</h1>

    <h1>管理员左侧导航</h1>
    
    @RenderBody()

</body>
</html>
