<div class="search-section-wrapper">
    <div class="search-wrapper">
        <div class="logo">
            <a href="#">
                <img src="~/Images/Search/search-logo.png" alt="Alternate Text" />
            </a>
        </div>
        <div class="search-box">
            <form action="/" method="post">
                <input type="text" name="name" value="" />
                <button onclick="">搜索</button>
            </form>
        </div>
        <div class="shopcart-box">
            <a href="#">我的购物车</a>
        </div>
        <div class="hotwords-box">
            <a href="#">化妆品套装</a>
            <b>|</b>
            <a href="#">口红</a>
            <b>|</b>
            <a href="#">雅诗兰黛</a>
            <b>|</b>
            <a href="#">兰蔻</a>
            <b>|</b>
            <a href="#">香水</a>
        </div>
    </div>
    <div class="nav-wrapper">
        <div class="nav-inner">
            <div class="nav-categories">
                <a href="#">全部商品分类</a>
            </div>
            <div class="nav-list">
                <ul>
                    <li><a href="#">京东时尚</a></li>
                    <li><a href="#">美妆馆</a></li>
                    <li><a href="#">超市</a></li>
                    <li><a href="#">生鲜</a></li>
                </ul>
                <ul>
                    <li><a href="#">海囤全球</a></li>
                    <li><a href="#">闪购</a></li>
                    <li><a href="#">拍卖</a></li>
                    <li><a href="#">金融</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
