<style>
    .title-wrap {
        margin-bottom: 10px;
        padding: 10px;
        line-height: 28px;
        background: #fff;
    }

        .title-wrap .title {
            margin: 0;
        }
</style>

<!--模块标题-->
<div class="title-wrap">
    <h3 class="title">收货地址</h3>
</div>

<!--模块内容-->
<div class="content-wrap">

</div>