
<style>
    .page-container{
        padding: 10px;
        background: #fff;
    }
    .order-list-table{
        width: 100%;
    }
    .order-list-table-filter{
        margin-bottom: 15px;
    }
    .order-list-table-filter .state-list .list-item{
        margin: 0 5px;
    }
    .order-list-table-filter .state-list .list-item.active{
        color: red;
        font-weight: bold;
    }
    .order-list-title{
        padding-bottom: 15px;
        height: 30px;
        line-height: 30px;
        background: #f5f5f5;
    }
    .order-list-title th{
        text-align: center;
    }
    .order-list-title-row{
        border: 1px solid lightgray;
    }
    .order-list-title-row .title{
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        background: #f5f5f5;
    }

    .order-list-value-row{
        height: 30px;
        line-height: 30px;
        border: 1px solid lightgray;
    }

    .order-list-value-row .value-col{
        text-align: center;
        border: 1px solid lightgray;
    }

    .order-list-value-row .col-thumb,
    .order-list-value-row .col-name,
    .order-list-value-row .col-amount{
        border: none;
    }

    .order-list-value-row .col-name{
        text-align: left;
        width: 600px;
    }

    .order-list-value-row .col-thumb{
        padding: 10px;
        width: 100px;
        height: 100px;
    }

    .order-list-value-row .col-thumb img{
        width: 100%;
        height: 100%;
    }

    #pay-password-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        transform: translate(-50%,-50%);
        width: 300px;
        border: 1px solid black;
        background-color: #fff;
    }

    #pay-password-dialog .title{
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        background-color: #f2f2f2;
    }

    #pay-password-dialog .content{
        padding: 15px;
    }

    #pay-password-dialog .opt-wrap{
        position: relative;
        bottom: 0;
        padding: 5px 15px;
        width: 100%;
        height: 40px;
        background-color: #f2f2f2;
    }

    #pay-password-dialog .opt-wrap .dialog-opt-btn{
        float: left;
        margin: 0 5px;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid gray;
        cursor: pointer;
    }

    #pay-password-dialog .opt-wrap .opt{
        margin: 0 auto;
        width: 180px;
    }

    #pay-password-dialog .content-input{
        margin-top: 1px;
        padding: 5px;
        width: 100%;
    }
</style>

<div class="page-container">

    <div class="order-list-table-filter">
        <div class="state-list">
            <a class="list-item active" href="#">全部订单</a>
            <a class="list-item" href="#">待付款</a>
            <a class="list-item" href="#">待收货</a>
            <a class="list-item" href="#">待评价</a>
        </div>
    </div>

    <table class="order-list-table">
        <tr class="order-list-title">
            <th colspan="3">订单详情</th>
            <th>收货人</th>
            <th>金额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr>
            <td colspan="7"><br /></td>
        </tr>
        <tr class="order-list-title-row">
            <td class="title" colspan="7">
                <span>2019-05-20 00:29:22</span>
            </td>
        </tr>
        <tr class="order-list-value-row">
            <td class="value-col col-thumb"><img src="~/Images/Products/huawei_1.jpg" alt="Alternate Text" /></td>
            <td class="value-col col-name">荣耀10青春版 幻彩渐变 2400万AI自拍 全网通版4GB+64GB 渐变蓝 移动联通电信4G全面屏手机 双卡双待</td>
            <td class="value-col col-amount">x<span>1</span></td>
            <td class="value-col col-person">Silmeria</td>
            <td class="value-col col-price">￥<span>1999.00</span></td>
            <td class="value-col col-state">
                @*<span>等待付款</span>*@
                @*<span>等待收货</span>*@
                @*<span>等待评价</span>*@
            </td>
            <td class="value-col col-opt">
                @*<a class="opt-pay" href="#">付款</a>*@
                @*<a class="opt-receive" href="#">收货</a>*@
                <a class="opt-comment" href="/Order/WriteComment">评价</a>
            </td>
        </tr>
    </table>

    <div id="pay-password-dialog">
        <p class="title">支付确认</p>
        <div class="content">
            <label>支付密码：</label>
            <br />
            <input class="content-input" type="password" value="" placeholder="请输入支付密码" />
        </div>
        <div class="opt-wrap">
            <div class="opt">
                <div class="dialog-opt-btn ok">确认</div>
                <div class="dialog-opt-btn cancle">取消</div>
            </div>
        </div>
    </div>

</div>


<script>

    $(function () {

        // 付款
        $(".opt-pay").on('click', function () {
            $("#pay-password-dialog").show();
        })

        // 收货
        $(".opt-receive").on('click', function () {
            alert("收货成功！");
        })

        // 弹窗 - 确认
        $(".dialog-opt-btn.ok").on('click', function () {
            alert("付款成功！");
            $("#pay-password-dialog").hide();
        })

        // 弹窗 - 关闭
        $(".dialog-opt-btn.cancle").on('click', function () {
            $("#pay-password-dialog").hide();
        })
    })

</script>    